.btn-primary {
    border: none;
    min-width: 100px;
    padding: 0px 24px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 35px;
    height: 48px;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

    &:hover {
        background-color: #000;
        color: var(--white);
    }
}
.btn-primary-light {
    border: none;
    min-width: 100px;
    padding: 0px 24px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 35px;
    height: 48px;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

    &:hover {
        background-color: #d3d2d2;
        color: var(--black);
    }
}

.band{
    border-radius: 35px;
    background: rgb(144,195,34);
    background: -moz-linear-gradient(278deg, rgba(144,195,34,1) 0%, rgba(215,221,131,1) 51%, rgba(170,255,169,1) 100%);
    background: -webkit-linear-gradient(278deg, rgba(144,195,34,1) 0%, rgba(215,221,131,1) 51%, rgba(170,255,169,1) 100%);
    background: linear-gradient(278deg, rgba(144,195,34,1) 0%, rgba(215,221,131,1) 51%, rgba(170,255,169,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#90c322",endColorstr="#aaffa9",GradientType=1);
    padding: 8px 24px;
}