.box-service{
    width: 270px;
    height: 340px;
    background-color: var(--white);
    border-radius: 20px;
}
.box-hero{
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    color: var(--white);
    padding: 100px;
    border-radius: 30px;
}